footer{
    position: fixed;
    width: fit-content;
    left: 50%;
    bottom: -170px;
    transform: translateX(-50%);
    text-align: center;
    background-color: #030303;
    transition: 0.3s all ease;
    padding: 10px 20px;
}
footer a{
    display: block;
    padding: 10px;
}
footer:hover{
    bottom: 0;
}
.footer-container{
    width: fit-content;
    margin: 0 auto;
}
.social-accounts-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}