.typing-h1{
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
}
.typing-h1::before{
  content: '';
  animation: text 15s step-end infinite;
}
@keyframes text{
  0%  { content: ''; }
    20% { content: 'I'; }
    23% { content: 'I a'; }
    26% { content: 'I am'; }
    28% { content: 'I am M'; }
    30% { content: 'I am Ma'; }
    32% { content: 'I am Mar'; }
    35% { content: 'I am Mark'; }
    37% { content: 'I am Marko'; }
    40% { content: 'I am Marko S'; }
    42% { content: 'I am Marko Se'; }
    44% { content: 'I am Marko Seo'; }
    50% { content: 'I am Marko Seov'; }
    51% { content: 'I am Marko Seova'; }
    52% { content: 'I am Marko Seovac'; }
}
.typing-h1::after{
  content: '';
  display: inline-block;
  width: 0.1em;
  height: 0.75em;
  margin-left: 0.1em;
  background-color: #000;
  animation: blink 0.75s ease-in-out infinite;
}
@keyframes blink {
  0%, 25%, 100% { opacity: 1; }
  50%, 75% { opacity: 0; }
}
