@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #020204;
  color: #22b455;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 10px #22b455;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}